
<div id="header_left">
  <a href="#">
    <img id ="logo" src="https://raw.githubusercontent.com/Pepitotollo/PWM/main/images/logo.png">
  </a>
</div>
<div id = "header_mid">
  <div id = "header_top">
    <nav>
      <a class="button" href="#">Categorías</a>
      <input class="search" type="text" size="40" placeholder="Busca por marca, artista...">
      <a class="button" href="#">Vender</a>
    </nav>
  </div>
  <div id = "header_bot">
    <nav><app-nav></app-nav></nav>
  </div>
</div>
<div id="header_right">
  <a href="/PWM/inicio/inicio.html" class="login-button">
    <img id ="logo2" src="https://raw.githubusercontent.com/Pepitotollo/PWM/main/images/inicio_sesion.png" alt="Iniciar Sesión">
  </a>
</div>
