<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="details"></ion-back-button>
    </ion-buttons>
    <ion-title>Animal Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngIf="item" class="ion-no-margin" style="margin: 4px !important">
    <img [src]="item.imagen" />

    <ion-card-header>
      <ion-card-title>{{ item.nombre }}</ion-card-title>
    </ion-card-header>

    <ion-card-content >
      <p style="height:200px; color:black;">{{ item.descripcion }}</p>
    </ion-card-content>

    <ion-item lines="none">
      <ion-label>Is favorite?</ion-label>

      <ion-toggle
        [(ngModel)]="favorite"
        (ngModelChange)="toggleFavorite()"></ion-toggle>
    </ion-item>

    <br />
  </ion-card>
</ion-content>
