<!-- <form [formGroup]="itemForm" (ngSubmit)="onSubmit()">
  <div>
    <label for="nombre">Nombre:</label>
    <input type="text" id="nombre" formControlName="nombre">
  </div>
  <div>
    <label for="descripcion">Descripción:</label>
    <textarea id="descripcion" formControlName="descripcion"></textarea>
  </div>
  <div>
    <label for="precio">Precio:</label>
    <input type="number" id="precio" formControlName="precio">
  </div>
  <div>
    <label for="imagen">imagen:</label>
    <input type="text" id="imagen" formControlName="imagen">
  </div>
  <div>
    <label for="categoria">Categoría:</label>
    <input type="text" id="categoria" formControlName="categoria">
  </div>
  <div>
    <label for="fecha">Fecha:</label>
    <input type="date" id="fecha" formControlName="fecha">
  </div>
  <button type="submit" [disabled]="!itemForm.valid">Guardar</button>
</form> -->
<br>
<ng-container *ngFor="let section of sections">
  <app-section [title]="section" id= "{{section}}" class="titulo_sec"></app-section>
</ng-container>
