.espacio{
  width: 50%;
  height: 100%; /* Ajusta la altura según sea necesario */
  color: black;
  /*background-size: contain;*/
  background-size: cover;
  background-position: center; /* Centrar la imagen */

  /*background-repeat: no-repeat;*/

}
/*div.espacio img {
    max-width: 100%; /* Ancho máximo de la imagen */
/*height: auto; /* Altura automática para mantener la proporción */
/*display: block; /* Mostrar la imagen como bloque */
/*}
*/
.texto{
  position: absolute; /* Esto permite posicionar el div hijo en relación con su contenedor padre */
  bottom: 0;
  max-height: 40%;
  width: 100%;
  font-size: 14px;
  color: white;
  background: rgba(0, 0, 0, 0.63);
  white-space: pre-line;


}


.contenedor_sec{
  /*display: flex; /* Utiliza flexbox */
  justify-content: space-around; /* Distribuye uniformemente los elementos a lo largo del contenedor */
  align-items: center; /* Centra verticalmente los elementos dentro del contenedor */
  height: 95%; /* Puedes ajustar la altura según sea necesario */
}
