/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
:host{

  height: 100%;
  width: 100%;
  font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
  font-size: 1.125em;
  display:block;
  padding: 0;
}
a{
  color:#ffffff;
  text-decoration: none;
}

#titulo{
  margin-top: 20px;
  color:black;
  font-size: 40px;
}

h1{
  font-size: 27px;
}

main{

  margin-top: 15%;
  width: 100%;
  height: 100%;
  position: absolute;
}



.contenedor{
  height: 100px;
  width: 100%;
}
.app-section {
  display: block;
  background-color: #f0f0f0;
  padding: 20px;
  margin-top: 20px; /* Cambiado de % a px para un control más preciso del espaciado */

}

/* Puedes agregar estilos adicionales según sea necesario */


.seccion img{
  width: 10%; /* La imagen ocupa todo el ancho del div */
  height: auto; /* Altura automática para mantener la proporción */
  display: block; /* Mostrar la imagen como un bloque */
}
body {
  display: flex;
  margin: 0; /* Elimina el margen predeterminado del body */

}

.productos{
  background-color: #C4C4C4;
  list-style-type: none;
  width: 50%;
  font-size: 25px;


}

.login-button img {
  width: 150px; /* ajusta el ancho según sea necesario */
  height: auto; /* ajusta la altura de forma automática para mantener la proporción */
  border-radius: 5px; /* añade esquinas redondeadas */
}

.login-button:hover img {
  opacity: 0.8; /* reduce la opacidad al pasar el ratón por encima para dar un efecto de transparencia */
}



.espacio {
  width: 460px;
  height: 250px;
  color: black;

  background-size: cover;
  background-position: center;
  position: relative; /* Añadimos posición relativa para posicionar el texto */
  margin-left: 4%;
  margin-right: 3%;
  border: 5px solid #000;
  border-radius: 5px;
}



.espacio img {

  width: 100%; /* Establece el ancho de la imagen al 100% del contenedor */
  height: 100%; /* Establece la altura fija de la imagen */
  object-fit: cover; /* Escala la imagen para que cubra todo el contenedor */
}

.texto {
  width: 100%;
  position: absolute; /* Esto permite posicionar el div hijo en relación con su contenedor padre */
  bottom: 0;
  background: rgba(0, 0, 0, 0.63);
  color: white;

  font-size: 14px;
}


.contenedor_sec {
  margin-top: 5%;
  margin-bottom: 5%;
  display: flex; /* Utiliza flexbox para alinear los elementos en una fila */
  /* Distribuye uniformemente los elementos a lo largo del contenedor */
  align-items: center; /* Centra verticalmente los elementos dentro del contenedor */
  height: 95%; /* Puedes ajustar la altura según sea necesario */

}

/* between 768 px and 1024 */
/**Tablet iPad Mini**/
